torch
faiss-cpu
filelock
langchain
langchain-community
langchain-text-splitters
langchain-openai
python-dotenv
pypdf
pytest
sentence-transformers
langchain-huggingface
docx2txt
unstructured
jq
pandas
msoffcrypto-tool
